*.cbproj.local
*.bdsproj.local
*.d
*.o
*.pch
*.drc
*.map
*.res
*.obj
*.ilc
*.ild
*.ilf
*.ils
*.tds
*.groupproj.local
*.log
*.pdi
*.exe
__history/
*.dfn
*.rcn
*.dpr
*_DRC.rc
*.dof
__recovery/
__astcache/
Temp/
*.bak
*.brk
*.dll
*.bpl
*.res